*{
    box-sizing: border-box;
}

.body,
.content{
    padding-left: 0px;
    margin-left:0px;
}

:root{
    --board-size: 15rem;
    --off-white: rgb(231, 230, 223);
    --board-color: rgb(211, 201, 145);
    --grid-color: var(--off-white);
}

.content{
    background-color: var(--off-white);
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center; 
}



#scoreboard {
    width: var(--board-size);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}

#game-board{
    height: var(--board-size);
    width: var(--board-size);
    background-color: var(--grid-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 2px;
    column-gap: 2px;
}

.grid-item{
    display: grid;
    width: 100%;
    background-color: var(--board-color);
    border-radius: calc(var(--board-size) * 0.075);
    align-items: center;
    justify-items: center;
}

img {
    width: calc(var(--board-size) * .225);
}

.o {
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(-35deg) brightness(137%) contrast(73%);
}


.x{
    filter: invert(20%) sepia(243%) saturate(1576%) hue-rotate(60deg) brightness(137%) contrast(73%);
}



